version: '3.8'
name: ecommerce-app
services:
  service-registry:
    build:
      context: .
      dockerfile: service-registry/Dockerfile
    ports:
      - "8762:8762"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    networks:
      - app-network
    restart: unless-stopped

  order-service:
    build:
      context: .
      dockerfile: order-service/Dockerfile
    ports:
      - "8081:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - service-registry
    networks:
      - app-network
    restart: unless-stopped

  inventory-service:
    build:
      context: .
      dockerfile: inventory-service/Dockerfile
    ports:
      - "8082:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - service-registry
    networks:
      - app-network
    restart: unless-stopped

  payment-service:
    build:
      context: .
      dockerfile: payment-service/Dockerfile
    ports:
      - "8083:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - service-registry
    networks:
      - app-network
    restart: unless-stopped

  notification-service:
    build:
      context: .
      dockerfile: notification-service/Dockerfile
    ports:
      - "8084:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - service-registry
    networks:
      - app-network
    restart: unless-stopped

  user-service:
    build:
      context: .
      dockerfile: user-service/Dockerfile
    ports:
      - "8085:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - service-registry
    networks:
      - app-network
    restart: unless-stopped

  auth-service:
    build:
      context: .
      dockerfile: auth-service/Dockerfile
    ports:
      - "8086:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker
    depends_on:
      - service-registry
    networks:
      - app-network
    restart: unless-stopped


networks:
  app-network:
    driver: bridge
